* {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.4;
    background-color: #fff;
    color: #333;
    text-align: center;
}


a {
    color: #067df7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.gameContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.game {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.gameRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rowItem {
    display: flex;
    width: 5rem;
    height: 5rem;
    text-align: center;
    align-items: center;
    font-size: xxx-large;
    font-weight: 600;
    background-color: #eeeeee;
    justify-content: center;
    border: 1px solid #333;
    margin: 0.25rem;
}



@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #fff;
    }

    a {
        color: #067df7;
    }

    .rowItem {
        background-color: #fff;
    }
}
